*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    margin: 2em auto;
   
}
#bienvenida{
    background-color: forestgreen;
}

#maquina{
    background-color: yellow;
}
figure{
    padding: 1em;
}
 #eligeSi,#eligeNo,#eligeNumero,#maquina,#resultado{ 
    display: none;
}/* esto es para ocultar todas las pantallas y que vayan saliendo según vamos pinchando en los botones
